{% extends "header.html" %}
{% block image %}<img src="{{profile.image.url}}"class="icon rounded-circle">{% endblock image %}

{% load static %}

{% block cont %}

<div class="card mb-4">
    <div class="row">
        <aside class="col-lg-3 col-xl-3">
            <!--  COMPONENT MENU LIST  -->
            <nav class="nav flex-lg-column nav-pills mb-4">
              <a class="nav-link " href="{% url "profile" %}">Account main</a>
              <a class="nav-link active" href="{% url "view_to_comment" %}">comment</a>
              <a class="nav-link active" href="{% url "view_to_comment_test" %}">comment</a>
              
            </nav>
            <!--   COMPONENT MENU LIST END .//   -->
          </aside>
    <m class="card-body col-lg-9  col-xl-9">
      <h5 class="card-title">comment </h5>
      <hr>
      <div style="height: 300px; overflow-y: scroll;" class="card card-body">
      {% for pro in pro %}
      <blockquote class="border-bottom">
          <div class="float-lg-end d-flex mb-3">
              <div class="btn-group d-inline-flex me-2">
                <div class="float-lg-end">
                
                    <a class="btn btn-sm btn-outline-danger " href="{% url "delete_comment" id=pro.id %}">delete comment</a>
                   
                </div></div>
                
             
          </div>
          <div class="icontext">
              <img src="{{profile.image.url}}" class="img-xs icon rounded-circle">
              <div class="text">
                
                  <h6 class="mb-0"> {{request.user.username}} </h6>
                    
                <div class="rating-stars">
                    <ul class="rating-stars">
                      <li style="width:{{ pro.score }}0%" class="stars-active">
                        <img src="{% static 'images/misc/stars-active.svg' %}" alt="Active stars">
                      </li>
                      <li>
                        <img src="{% static 'images/misc/starts-disable.svg' %}" alt="Disabled stars">
                      </li>
                    </ul>
                  
                      <b class="dot"></b>
                      <small class="label-rating text-muted"> {{pro.created_at}} </small>
                  </div>
                  
              </div>
          </div> <!-- icontext.// -->
          <div class="mt-3">
              <p>
                  {{pro.comment}}
              </p>
          </div>
          <ul class="row">
            <li class="col-xl-4  col-lg-6">
              <figure class="itemside mb-3">
                <div class="aside">
             <i class="dot"></i>  
                  <img width="72" height="72" src="{{pro.product.image.url}}" class="img-sm rounded border">
                </div>
                <figcaption class="info">
                  <a href="{% url 'product_detail' id=pro.product.id %}"><p class="title">{{pro.product.name}}</p></a>
                  <strong> ${{pro.product.price}} </strong>
                </figcaption>
              </figure> 
            </li>
           
          </ul>
      </blockquote>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock  %}