

{% extends "header.html" %}
{% block image %}<img src="{{profile.image.url}}"class="icon rounded-circle">{% endblock image %}
{% block cont %}
{% load static %}
<main class="col-lg-9">
		
  {% comment %} {% if  request.user.is_authenticated %}
    

  {% else %}
  <a href="#" class="btn btn-outline-primary">Register</a>
  <a href="#" class="btn btn-primary">Sign in</a>

  {% endif %} {% endcomment %}

    
              
  {% for item in products_with_ratings %}
<article class="card card-product-list">
  <div class="row g-0">
    <aside class="col-xl-3 col-md-4">
      <a href="#" class="img-wrap">
        <img src="{{ item.product.image.url }}">
      </a>
    </aside>
    <div class="col-xl-6 col-md-5 col-sm-7">
      <div class="card-body">
        <a href="#" class="title h5 fit">{{ item.product.name }}</a>
        <div class="rating-wrap mb-2">
          <ul class="rating-stars">
            <li class="stars-active" style="width:{{ item.average_rating|default:0 }}0%;">
              <img src="{% static 'images/misc/stars-active.svg' %}" alt="Active stars">
            </li>
            <li>
               <img src="{% static 'images/misc/starts-disable.svg' %}" alt="Disabled stars">
            </li>
 

              



              </ul>
              <b class="label-rating text-warning">{{item.average_rating|default:"No ratings yet" }}</b>
              <i class="dot"></i>
             
              <span class="label-rating text-muted fab ">Order:{{ item.product.get_order }}</span>
            </div> <!-- rating-wrap.// -->
            <p> {{item.product.description}}</p>
          </div> <!-- card-body.// -->
        </div> <!-- col.// -->
        <aside class="col-xl-3 col-md-3 col-sm-5">
          <div class="info-aside">
            <div class="price-wrap">
              <var class="price h5 fa-light"> ${{item.product.price}} </var>  
              <del class="price-old fa  ">${{item.product.priceOld}}</del>
            </div> <!-- info-price-detail // -->
            <p class="text-success fa">{{item.product.stock}}</p>
            <br>
            <div class="mb-3">
              <span><a href="{% url 'product_detail' id=item.product.id %}" class="btn btn-warning  "> Buy this </a></span>
               </a>
            </div>
          </div> <!-- info-aside.// -->
        </aside> <!-- col.// -->
      </div> <!-- row.// -->
    </article>

    {% endfor %}




    <hr>

    <footer class="d-flex mt-4">
      <div>
          <a href="javascript: history.back()" class="btn btn-light"> &laquo; Go back</a>
      </div>
      <nav class="ms-3">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                  </li>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                      <li class="page-item active">
                          <span class="page-link">{{ num }}</span>
                      </li>
                  {% else %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">Next</span>
                  </li>
              {% endif %}
          </ul>
      </nav>
  </footer>

    <!-- ========= content items .// ========= -->

	</main> <!-- col .// -->
</div> <!-- row .// -->


{% endblock cont %}